:root{
	--font: 'Gilroy', sans-serif;
	--site-bg: #19181A;
	--black: black;
	--white: #fff;
	--pink: #FF80C3;
	--green: #9AFF00;
	--transition: all 0.35s;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: var(--font);
	font-size: 18px;
	line-height: 120%;
	font-weight: 500;
	color: var(--white);
	background-color: var(--site-bg);

	&.hidden{
		overflow: hidden;
	}

	&:not(.home){
		background-image: url(../../img/chess.svg);
		background-repeat: no-repeat;
		background-position: right top;
	}

	&:before{
		content: '';
		display: block;
		background-color: var(--green);
		width: 30px;
		height: 30px;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;

		@media (max-width: 1368px){
			display: none;
		}
	}
}

main {
	display: block;
}

.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 15px;
	margin-bottom: 15px;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 15px;
	margin-bottom: 15px;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

p{
	margin: 0;
}

p:not(:last-child){
	margin-bottom: 25px;
}

h1,h2,h3{
	font-weight: bold;
	font-family: inherit;
	color: inherit;
	margin-top: 0;
	color: var(--blue);
}

h1{
	font-size: 160px;
	line-height: 0.8;
	margin-bottom: 50px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 900;

	@media (max-width: 1368px){
		font-size: 120px;
		line-height: 1;
	}

	@media (max-width: 1200px){
		font-size: 100px;
		line-height: 1;
	}

	@media (max-width: 1024px){
		font-size: 90px;
		line-height: 1;
	}

	@media (max-width: 768px){
		font-size: 65px;
	}

	@media (max-width: 576px){
		font-size: 60px;
	}

	@media (max-width: 414px){
		font-size: 55px;
		margin-bottom: 30px;
	}

	@media (max-width: 360px){
		font-size: 50px;
	}
}

h2{
	font-weight: 900;
	font-size: 40px;
	line-height: 110%;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: -0.011em;
	color: var(--green);
	margin-bottom: 32px;

	@media (max-width: 414px){
		font-size: 30px;
	}
}

.section-title{
	font-weight: 900;
	font-size: 120px;
	line-height: 100%;
	letter-spacing: -0.011em;
	text-transform: uppercase;
	color: var(--white);
	font-style: italic;


	@media (max-width: 1368px){
		font-size: 100px;
	}

	@media (max-width: 1024px){
        font-size: 75px;
	}

	@media (max-width: 576px){
		font-size: 60px;
	}

	@media (max-width: 375px){
		font-size: 50px;
	}
}

.ptb{
	padding: 100px 0;

	@media (max-width: 1368px){
		padding: 60px 0;
	}
}

.mb-75{
	margin-bottom: 75px;
}

button,
input[type="submit"],
.button{
	padding: 15px 25px;
	margin: 0;
	border-radius: 12px;
	color: var(--black);
	transition: var(--transition);
	font-family: inherit;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: var(--green);
	font-weight: 600;
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;
	border: 0;
	width: 100%;
	text-decoration: none;

	@media (max-width: 490px){
		font-size: 15.21px;
		padding: 15px 16px;
	}
}

button:hover,
input[type="submit"]:hover,
.button:hover{
	background-color: var(--pink);
}

input[type="tel"],
input[type="email"],
input[type="text"],
input[type="search"]{
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid var(--white);
	font-size: 24px;
	color: var(--white);
	font-family: inherit;
	font-weight: 300;
	line-height: 1;
	padding: 15px 0;
	transition: var(--transition);
	outline: none;
	width: 100%;
	background-color: transparent;

	@media (max-width: 414px){
		font-size: 20px;
		padding: 12px 0;
	}
}

input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="search"]::placeholder{
	font-size: 24px;
	color: var(--white);
	font-family: inherit;
	font-weight: 300;
}

input[type="tel"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="search"]:focus{

}

a{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: 400;
	color: var(--black);
	text-decoration: underline;
	transition: var(--transition);
}

a:hover{
	text-decoration: none;
}

.container{
	max-width: 1280px;
	padding: 0 20px;
	margin: auto;

	@media (max-width: 1368px){
		max-width: 1100px;
	}
}

.header{
	padding: 70px 0 60px;

	@media (max-width: 768px){
		padding: 30px 0 50px;
	}

	.button{
		border-radius: 30px;
	}

	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 768px){
			flex-direction: row-reverse;
		}
	}

	&__logo{
		line-height: 0;

		a{
			display: block;
		}
	}

	&__nav{
		display: flex;
		gap: 50px;
		align-items: center;

		@media (max-width: 880px){
			gap: 25px;
		}

		@media (max-width: 768px){
			display: none;
		}
	}
}


.nav{
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		gap: 50px;

		@media (max-width: 1024px){
			gap: 25px;
		}

		@media (max-width: 880px){
			gap: 15px;
		}

		a{
			font-weight: 500;
			font-size: 18px;
			line-height: 132%;
			letter-spacing: -0.011em;
			color: var(--white);
			text-decoration: none;

			&:hover{
				color: var(--green);
			}
		}

		.current-category-ancestor,
		.current-menu-item{
			a{
				color: var(--green);
			}
		}
	}
}

.footer{
	padding: 50px 0;

	@media (max-width: 576px){
		padding: 60px 0;
	}

	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50px;

		@media (max-width: 576px){
			flex-direction: column;
		}
	}

	&__logo{
		line-height: 0;

		a{
			display: block;
		}
	}

	&__column{
		&--store{
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 18px;

			a{
				line-height: 0;
			}
		}

		&--link{
			display: flex;
			gap: 30px;
			line-height: 0;

			a{
				display: block;
			}
		}
	}

	ul{
		margin: 24px 0 0 0;
		padding: 0;
		list-style: none;

		a{
			font-weight: 600;
			font-size: 16px;
			line-height: 1;
			letter-spacing: -0.011em;
			color: var(--white);
			text-decoration: none;

			&:hover{
				color: var(--green);
			}
		}
	}
}


.contact-block{
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 30px;

		@media (max-width: 1100px){

			flex-direction: column;
			align-items: center;
			justify-content: center;

			svg{
				max-width: 325px;
				height: auto;
			}
		}

		@media (max-width: 576px){
			.section-title{
				text-align: center;
			}
		}

		@media (max-width: 414px){
			svg{
				max-width: 290px;
			}
		}
		@media (max-width: 330px){

			

			svg{
				max-width: 260px;
				height: auto;
			}
		}

	}
}

.single{
	&__wrapper{
		display: grid;
		grid-template-columns: 1fr 0.51fr;
		grid-gap: 90px;

		@media (max-width: 1024px){
			grid-gap: 50px;
		}

		@media (max-width: 960px){
			grid-template-columns: 1fr;
			grid-gap: 120px;
		}
	}

	&__content{
		font-size: 20px;
		line-height: 132%;
		font-weight: 500;

		@media (max-width: 414px){
			font-size: 18px;
		}

		ol + h2, ul + h2, p + h2{
			margin-top: 40px;
		}

		ol{
			margin: 0;
			padding-left: 20px;

			> li{
				&:not(:last-child){
					margin-bottom: 25px;
				}

				ul{
					margin: 0;
					padding-left: 30px;
					list-style-type: disc;
				}
			}
		}
	}

	&__aside{
		overflow: hidden;
		&--wrapper{
			.swiper-slide{
				display: flex;
				height: auto;
			}

			@media (max-width: 960px){
				padding-bottom: 60px;
			}
		}

		&--title{
			@media (min-width: 961px){
				display: none;
			}

			@media (max-width: 960px){
				font-style: italic;
				font-weight: 900;
				font-size: 60px;
				line-height: 1;
				letter-spacing: -0.011em;
				text-transform: uppercase;
				color: var(--white);
				margin-bottom: 30px;
			}
		}
	}
}

.breadcrumbs{
	margin-bottom: 25px;
	position: relative;
	z-index: 2;
	
	> span{
		display: flex;
		gap: 5px;
		white-space: nowrap;
		overflow: hidden;
	}

	span,
	a{
		font-weight: 500;
		font-size: 14px;
		line-height: 1.1;
		color: #D3D2D4;
		text-decoration: none;
	}

	a:hover{
		color: var(--green);
	}
}

.recent-posts{
	&__item{

		&:not(.update-color){
			.recent-posts__item--title{
				border-radius: 12px;
				border: 3px solid var(--green);
				color: var(--white);
				font-weight: 900;
				font-size: 45px;
				line-height: 100%;
				letter-spacing: -0.011em;
				text-transform: uppercase;
				text-decoration: none;
				display: flex;
				align-items: center;
				padding: 60px 50px;

				@media (max-width: 1368px){
					font-size: 40px;
					padding: 50px 40px;
				}

				@media (max-width: 576px){
					font-size:30px;
					padding: 30px 25px 25px;
				}

				span{
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}

			p{
				margin: 24px 0 16px;
				font-weight: 500;
				font-size: 16px;
				line-height: 132%;
				letter-spacing: -0.011em;
				color: rgba(255, 255, 255, 0.8);

				@media (max-width: 576px){
					font-size: 12px;
					margin: 9px 0 9px;
				}
			}

			.recent-posts__readmore{
				font-weight: 800;
				font-size: 14px;
				line-height: 1;
				letter-spacing: -0.011em;
				text-transform: uppercase;
				color: var(--pink);
				text-decoration: none;

				@media (max-width: 576px){
					font-size: 10px;
				}

				&:hover{
					color:var(--green)
				}
			}
		}



		&.update{
			.recent-posts__item--title{
				padding: 50px 40px 40px;
				font-weight: 900;
				font-size: 90px;
				line-height: 0.92;
				letter-spacing: -0.011em;
				text-transform: uppercase;
				color: var(--white);
				text-decoration: none;
				text-align: center;

				span{
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				@media (max-width: 1368px){
					font-size: 70px;
				}

				@media (max-width: 1199px){
					font-size: 60px;
				}

				@media (max-width: 576px){
					font-size: 55px;
				}
			}
		}

		&.update-color{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 30px;
			background-color: var(--pink);
			padding: 60px 25px 40px;
			border-radius: 8px;

			@media (max-width: 1368px){
				padding: 50px 25px 40px;
			}

			.recent-posts__item--title{
				font-weight: 900;
				font-size: 90px;
				line-height: 0.92;
				letter-spacing: -0.011em;
				text-transform: uppercase;
				color: var(--white);
				text-decoration: none;
				text-align: center;

				@media (max-width: 1368px){
				    font-size: 70px;
				}

				@media (max-width: 1199px){
					font-size: 60px;
				}

				@media (max-width: 576px){
					font-size: 55px;
				}

				span{
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}

			a{
				font-style: italic;
				font-weight: 900;
				font-size: 32px;
				line-height: 1;
				text-align: center;
				letter-spacing: -0.011em;
				color: var(--green);
				text-decoration: none;

				@media (max-width: 1368px){
					font-size: 26px;
				}

				svg{
					max-width: 100%;
					height: auto;

					@media (max-width: 1368px){
						max-width: 85%;
					}
				}

				span{
					margin-bottom: -10px;
					display: block;
				}
			}

			.recent-posts__item--read{
				text-align: center;
				line-height: 1;
			}
		}
		
		&.app{
			padding: 65px 30px;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			align-items: center;
			justify-content: center;
			background-color: var(--pink);

			@media (max-width: 576px){
				padding: 30px 25px 25px;
				gap: 16px;

				> svg{
					height: 15px;
					width: auto;
				}
			}

			span{
				font-style: italic;
				font-weight: 900;
				font-size: 40px;
				line-height: 100%;
				text-align: center;
				letter-spacing: -0.011em;
				text-transform: uppercase;
				color: var(--white);

				@media (max-width: 576px){
					font-size:30px;
				}
			}

			.recent-posts__item--store{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				gap: 16px;

				@media (max-width: 576px){
					gap: 8px;
				}

				a{
					text-decoration: none;
					line-height: 0;

					svg{
						width: 155px;
						height: auto;

						@media (max-width: 1024px){
							width: 130px;
						}

						@media (max-width: 576px){
							width: 115px;
						}
					}
				}
			}
		}		
	}
}

.subscriptions{
	&__pass{
		max-width: 1025px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 34px;

		&--wrapper{
			padding: 20px 16px 16px 16px;
			background-color: var(--white);
			// height: 100%;
		}

		&--image{
			line-height: 0;
			position: relative;

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&--limited{
			position: absolute;
			right: 0;
			top: 30px;
			z-index: 1;
			font-style: italic;
			font-weight: 900;
			font-size: 20px;
			line-height: 1;
			text-transform: uppercase;
			color: #FF80C3;
			background-color: var(--green);
			padding: 8px 11px;

			@media (max-width: 414px){
				font-size: 18px;
			}
		}

		&--name{
			padding: 8px;
			font-style: italic;
			font-weight: 900;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
			text-transform: uppercase;
			color: var(--black);

			@media (max-width: 1024px){
				font-size: 19px;
			}
		}

		&--list{
			margin: 0;
			padding: 0;
			list-style: none;
			color: var(--black);
			text-align: center;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;

			@media (max-width: 1024px){
				font-size: 15px;
			}

			li:not(:last-child){
				margin-bottom: 10px;
			}
		}

		&--link{
			padding: 10px 20px;
			background: var(--green);
			border-radius: 10px;
			text-align: center;
			font-style: italic;
			font-weight: 900;
			font-size: 20px;
			line-height: 24px;
			text-transform: uppercase;
			color: var(--black);
			margin-top: 20px;
			text-decoration: none;
			display: block;

			&:hover{
				background-color: var(--pink);
			}
		}

		.swiper-slide{
			// display: flex;
			// height: auto;
		}
	}

	&__item{
		border-radius: 12px;
		overflow: hidden;

		&:nth-child(1) .subscriptions__pass--name{
			background: #D3D2D4;
		}

		&:nth-child(2) .subscriptions__pass--name{
			background-color: var(--green);
		}

		&:nth-child(3) .subscriptions__pass--name{
			background-color: var(--pink);
			color: var(--white);
		}
	}


	&__benefits{
		padding: 150px 0 100px;

		@media (max-width: 1024px){
			padding: 60px 0;
		}

		&--name{
			font-style: italic;
			font-weight: 900;
			font-size: 46px;
			line-height: 1;
			letter-spacing: -0.011em;
			text-transform: uppercase;
			margin-bottom: 55px !important;
			white-space: nowrap;
			border-bottom: 0 !important;
			padding-bottom: 0 !important;

			@media (max-width: 1024px){
				font-size: 24px;
				margin-bottom: 30px !important;
			}

		}

		&--list{
			margin: 0;
			padding: 0 0 10px 0;
			list-style: none;
			font-weight: 600;
			font-size: 24px;
			line-height: 1;

			@media (max-width: 1024px){
				overflow-x: auto;
			}

			&::-webkit-scrollbar-track{
				border-radius: 30px;
				background-color: #9aff0005;
			}

			&::-webkit-scrollbar{
				width: 6px;
				height: 6px;
				background-color: #9aff0005;
			}

			&::-webkit-scrollbar-thumb{
				border-radius: 30px;
				background-color: var(--green);
			}


			@media (max-width: 1024px){
				font-size: 18px;
			}

			@media (max-width: 576px){
				font-size: 14px;
			}

			li{
				display: grid;
				grid-template-columns: 1fr 90px 155px 110px;
				// grid-gap: 24px;
				align-items: flex-end;
				white-space: nowrap;


				@media (min-width: 1024px){
					grid-template-columns: 1fr 150px 290px 205px;
				}

				&:not(:last-child){
					margin-bottom: 32px;
				}

				span:first-child{
					min-width: 275px;
				}
				span:not(:first-child){
					text-align: center;
					padding: 0 12px;

					@media (max-width: 576px){
						padding: 0 8px 8px;
					}
				}

				&:not(.subscriptions__benefits--name){
					position: relative;
					// grid-gap: 0;
					span{
						padding-bottom: 8px;
						border-bottom: 1px solid var(--white);
						margin-bottom: -1px;
					}
					border-bottom: 1px solid var(--white);
				}
				

				svg{
					width: 45px;
					height: 47px;

					@media (max-width: 1024px){
						width: 30px;
						height: 30px;
					}

					@media (max-width: 576px){
						width: 20px;
						height: 20px;
					}
				}

				@media (max-width: 1024px){
					// grid-gap: 16px;
				}
			}
		}
	}

	&__buy{
		padding: 50px 0;

		a{
			font-style: italic;
			font-weight: 900;
			font-size: 70px;
			line-height: 1;
			letter-spacing: -0.011em;
			text-transform: uppercase;
			color: var(--black);
			text-decoration: none;
			background-color: var(--green);
			padding: 50px;
			border-radius: 16px;
			display: block;
			text-align: center;

			@media (max-width: 1024px){
				font-size: 40px;
				padding: 38px;
			}

			&:hover{
				background-color: var(--pink);
			}
		}
	}
}


.archive{
	&__wrapper{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 32px;

		@media (max-width: 768px){
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 16px;
		}
	}
}

.fancybox-container{
	button.fancybox-close-small {
		width: 50px;
		padding: 0 !important;
		opacity: 1;
		top: 20px !important;
		left: 20px;
	}
	.contact-form {
		background-color: var(--site-bg);
		background-image: url(../../img/form-bg.svg);
		background-repeat: no-repeat;
		background-position: right -170px;
		padding: 30px;
		max-width: 544px;
		border-radius: 16px;

		&__title{
			font-style: italic;
			font-weight: 900;
			font-size: 60px;
			line-height: 1;
			text-transform: uppercase;
			margin: 64px 0;

			@media (max-width: 576px){
			    font-size: 50px;
				margin: 50px 0 30px;
			}	
		}
	}
}

.wpcf7 {
	form{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 32px;

		.wpcf7-spinner{
			display: none !important;
		}
	}

	&__row{
		position: relative;

		span{
			display: block;
		}
	}

	form.invalid .wpcf7-response-output{
		display: none !important;
	}

	span.wpcf7-not-valid-tip {
		font-size: 12px;
		position: absolute;
		top: 100%;
	}

	form.sent .wpcf7-response-output {
		border: 0;
		background-color: var(--green);
		margin: 0;
		padding: 15px;
		border-radius: 12px;
		text-align: center;
		color: var(--black);
		font-size: 16px;
		font-weight: 600;
	}
}


.faq{
	&__wrapper{
		display: grid;
		grid-template-columns: 0.85fr 1fr;
		grid-gap: 100px;

		@media (max-width: 1368px){
			grid-gap: 60px;
		}

		@media (max-width: 880px){
			display: flex;
			flex-direction: column-reverse;
			gap: 20px;
		}
	}

	&__form--title{
		font-style: italic;
		font-weight: 900;
		font-size: 60px;
		line-height: 1;
		text-transform: uppercase;
		color: var(--black);
		margin-bottom: 64px;

		@media (max-width: 1024px){
			font-size: 50px;
			margin-bottom: 40px;
		}

		@media (max-width: 360px){
			font-size: 40px;
		}	
	}

	&__forms{
		background-color: var(--green);
		padding: 30px;
		border-radius: 20px;
		position: sticky;
		top: 100px;

		input[type=email], 
		input[type=text]{
			border-bottom-color: var(--black);

			&::placeholder{
				color: var(--black);
			}
		}

		.wpcf7-submit{
			background-color: var(--pink);
			margin-top: 32px;

			&:hover{
				background-color: var(--site-bg);
				color: var(--white);
			}
		}

		@media (max-width: 414px){
			padding: 20px;
		}
	}

	&__accordion--item{
		background-color: #334615;
		border-radius: 16px;
		overflow: hidden;

		@media (max-width: 414px){
			border-radius: 8px;
		}

		&.active path.hide{
			opacity: 0;
		}
	}

	&__accordion--title{
		border-radius: 16px;
		padding: 30px;
		background-color: var(--green);
		display: flex;
		align-items: center;
		gap: 24px;
		justify-content: space-between;
		font-weight: 600;
		font-size: 20px;
		line-height: 132%;
		letter-spacing: -0.011em;
		color: var(--black);
		cursor: pointer;

		@media (max-width: 414px){
			padding: 16px;
			font-size: 14px;
			line-height: 1;
		}

		svg {
			min-width: 22px;
			width: 22px;
			height: 22px;


			@media (max-width: 414px){
				min-width: 10px;
				width: 10px;
				height: 10px;
			}

			path{
				transition: var(--transition);
			}
		}
	}

	&__accordion{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}

	&__accordion--content{
		p{
			padding: 30px;
			font-weight: 600;
			font-size: 18px;
			line-height: 132%;
			letter-spacing: -0.011em;

			@media (max-width: 414px){
				padding: 16px;
				font-size: 12px;
			}
		}
	}
}


.download-block{

	&__wrapper{
		padding: 50px 40px;
		border-radius: 16px;
		overflow: hidden;
		background-color: var(--green);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;

		@media (max-width: 1024px){
			padding: 30px 25px;
		}

		@media (max-width: 880px){
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&__title{
		font-style: italic;
		font-weight: 900;
		font-size: 70px;
		line-height: 100%;
		letter-spacing: -0.011em;
		text-transform: uppercase;
		color: var(--black);


		@media (max-width: 1368px){
			font-size: 55px;
		}

		@media (max-width: 576px){
			text-align: center;
		}

		@media (max-width: 414px){
			font-size: 50px;
		}
		
		@media (max-width: 360px){
			font-size: 40px;
		}
	}

	&__buttons{
		line-height: 0;
		display: flex;
		align-items: center;
		gap: 24px;

		@media (max-width: 576px){
			flex-wrap: wrap;
			gap: 16px;
			justify-content: center;
		}
	}
}

.contact{
	&__block{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 80px;

		@media (max-width: 880px){
			grid-gap: 30px;
		}

		@media (max-width: 375px){
			grid-template-columns: repeat(1, 1fr);

			br{
				display: none;
			}
		}

		strong{
			display: block;
			font-weight: 500;
			font-size: 18px;
			line-height: 1;
			letter-spacing: -0.011em;
			margin-bottom: 20px;

			@media (max-width: 414px){
				font-size: 14px;
			}
		}

		a{
			color: var(--white);
			text-decoration: none;
			font-weight: 500;
			font-size: 30px;
			line-height: 100%;
			letter-spacing: -0.011em;

			@media (max-width: 1024px){
				font-size: 24px;
			}

			@media (max-width: 414px){
				font-size: 20px;
			}

			&:hover{
				color: var(--green);
			}
		}

		&--description{
			grid-column: 1 / -1;

			@media (max-width: 414px){
				font-size: 14px;
			}
		}

		&--address{
			color: var(--white);
			font-weight: 500;
			font-style: normal;
			font-size: 30px;
			line-height: 100%;
			letter-spacing: -0.011em;

			@media (max-width: 1024px){
				font-size: 24px;
			}

			@media (max-width: 414px){
				font-size: 20px;
			}
		}

		&--email{

		}

		&--fax,
		&--tel{

		}
	}
}

.policy-page{
	padding-bottom: 70px;

	h1{
		@media (max-width: 1024px){
			padding-right: 180px;
		}

		@media (max-width: 768px){
			padding-right: 100px;
		}

		@media (max-width: 576px){
			padding: 30px 120px 30px 0;
		}
	}

	&__wrapper{
		display: grid;
		grid-template-columns: 1fr 0.43fr;
		grid-gap: 80px;

		@media (max-width: 1024px){
			grid-template-columns: 1fr;
		}
	}

	&__image{
		line-height: 0;
		padding-top: 100px;
		position: relative;

		@media (max-width: 1024px){
			line-height: 0;
			padding-top: 0;
			position: absolute;
			right: 20px;
			top: 0;
			text-align: right;
		}

		@media (max-width: 330px){
			top: 35px;
		}

		svg{
			position: sticky;
			top: 50px;
			max-width: 100%;
			height: auto;

			@media (max-width: 1024px){
				position: sticky;
				top: 50px;
				max-width: 45%;
				height: auto;
			}

			@media (max-width: 768px){
				height: 151px;
				width: 78px;
				max-width: 100%;
			}

			@media (max-width: 330px){
				width: 50px;
				height: auto;
			}
		}
	}

	&__content{
		h2{
			margin-bottom: 20px;
			color: var(--white);
		}

		ul, ol{
			margin: 25px 0;
			padding-left: 25px;
		}

		p + h2,
		ul + h2{
			margin-top: 30px;
		}

		@media (max-width: 375px){
			h2{
				font-size: 20px;
				line-height: 1.1;
			}
			p{
				font-size: 14px;
				line-height: 110%;
			}
		}
	}
}


.blog-item{
	&__item{
		overflow: hidden;
		border-radius: 8px;

		&.app{
			background-color: var(--pink);
			padding: 50px 40px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			justify-content: center;
			align-items: center;

			@media (max-width: 1024px){
				padding: 45px 26px 26px;
			}

			@media (max-width: 960px){
				gap: 14px;

				> svg{
					height: 15px;
					width: auto;
				}
			}

			span{
				font-style: italic;
				font-weight: 900;
				font-size: 50px;
				line-height: 100%;
				text-align: center;
				letter-spacing: -0.011em;
				text-transform: uppercase;
				color: var(--white);

				@media (max-width: 1368px){
					font-size: 45px;
				}

				@media (max-width: 1200px){
					font-size: 40px;
				}

				@media (max-width: 414px){
					font-size: 26px;
				}
			}
		}
	
		&:not(.app){
			border: 3px solid var(--green);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&--wrapper{
			padding: 20px 50px;
			background-color: var(--green);

			@media (max-width: 1024px){
				padding: 15px 26px;
			}

			@media (max-width: 414px){
				padding: 10px 26px;
			}

			p{
				color: var(--black);
				font-weight: 600;
				font-size: 18px;
				line-height: 100%;
				letter-spacing: -0.011em;
				margin-bottom: 10px;

				@media (max-width: 1024px){
					font-size: 15px;
				}

				@media (max-width: 414px){
					font-size: 10px;
				}
			}
		}

		&--meta{
			display: flex;
			justify-content: space-between;
			gap: 16px;
			align-items: center;
			color: var(--black);
			font-weight: 600;
			font-size: 18px;
			line-height: 100%;
			letter-spacing: -0.011em;

			span{
				display: inline-flex;
				align-items: center;
				gap: 5px;
			}

			@media (max-width: 960px){
				flex-direction: row-reverse;
				font-size: 14px;
			}

			@media (max-width: 414px){
				font-size: 10px;
			}

			svg{
				@media (max-width: 960px){
					height: 9px;
					width: auto;
				}
			}
		}

		&--store{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 24px;

			@media (max-width: 1199px){
				gap: 12px;
			}

			a{
				text-decoration: none;
				line-height: 0;

				svg{
					height: 64px;
					width: auto;

					@media (max-width: 1200px){
						height: 54px;
					}

					@media (max-width: 576px){
						width: 114px;
						height: auto;
					}
				}
			}
		}
	}

	&__title{
		font-style: italic;
		font-weight: 900;
		font-size: 70px;
		line-height: 1;
		letter-spacing: -0.011em;
		text-transform: uppercase;
		color: var(--white);
		text-decoration: none;
		display: flex;
		align-items: center;
		padding: 45px 30px;
		// height: 156px;
		height: 100%;

		@media (max-width: 1368px){
			font-size: 60px;
		}

		@media (max-width: 1200px){
			font-size: 50px;
		}

		@media (max-width: 1024px){
			padding: 32px 26px;
		}

		@media (max-width: 414px){
			font-size: 33px;
		}

		span{
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		&.update{
			justify-content: center;
			font-size: 90px;

			@media (max-width: 1368px){
				font-size: 80px;
			}

			@media (max-width: 1200px){
				font-size: 65px;
			}

			@media (max-width: 414px){
				font-size: 48px;
			}

			span{
				max-width: 70%;
				text-align: center;

				@media (max-width: 576px){
					max-width: 100%;
				}
			}
		}
	}

	&__readmore{
		font-weight: 600;
		font-size: 18px;
		line-height: 1;
		letter-spacing: -0.011em;
		color: var(--black);
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		gap: 7px;

		&:hover{
			text-decoration: underline;
		}

		@media (max-width: 960px){
			display: none;
		}
	}
}

.archive{
	main{
		padding-bottom: 30px;
	}

	h1{
		margin-bottom: 40px;
		line-height: 0.8;
	}

	&__filter{
		margin: 0 0 40px 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		@media (max-width: 414px){
			gap: 8px;
		}

		li{
			a{
				display: inline-flex;
				padding: 20px 30px;
				border: 2.25308px solid var(--white);
				border-radius: 56px;
				font-style: italic;
				font-weight: 900;
				font-size: 18px;
				line-height: 1;
				letter-spacing: -0.011em;
				text-transform: uppercase;
				color: var(--white);
				text-decoration: none;

				@media (max-width: 768px){
					padding: 14px 24px;
					font-size: 15px;
				}

				@media (max-width: 414px){
					padding: 10px 14px;
					font-size: 10px;
				}

				&:hover,
				&.active{
					background-color: var(--white);
					color: var(--black);
				}
			}
		}
	}
}


.pagination{
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-items: center;
	grid-column: 1 / -1;

	@media (max-width: 960px){
		margin-top: 30px;
	}

	.page-numbers{
		font-weight: 800;
		font-size: 18px;
		line-height: 1;
		color: var(--white);
		width: 30px;
		height: 30px;
		border-radius: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;

		&:hover,
		&.current{
			background-color: var(--green);
			color: var(--black);
		}

		&.next,
		&.prev{
			background: none !important;
			line-height: 0;
		}
	}
}


.hero{
	background-image: url(../../img/grid-top.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 53%;
	padding-bottom: 32px;
	position: relative;
	overflow: hidden;

	@media (max-width: 1199px){
		background-size: 60%;
	}

	@media (max-width: 880px){
		background-size: 53%;
	}

	@media (max-width: 768px){
		background-size: 70%;
	}

	@media (max-width: 490px){
		background-size: 90%;
	}
	
	@media (max-width: 414px){
		background-size: 80%;
	}

	h1{
		line-height: 0.8;
		margin-bottom: 30px;
		white-space: nowrap;

		@media (max-width: 768px){
			margin-bottom: 16px;
		}
	}

	&__content{
		p{
			max-width: 375px;
			font-weight: 600;
			font-size: 24px;
			line-height: 132%;
			letter-spacing: -0.011em;

			@media (max-width: 768px){
				font-size: 18px;
				line-height: 120%;
			}

			@media (max-width: 490px){
				max-width: 250px;
			}

			@media (max-width: 414px){
				font-size: 16px;
				line-height: 110%;
			}


		}
	}

	&__store{
		margin-top: 32px;
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		line-height: 0;

		@media (max-width: 768px){
			gap: 12px;
		}

		img{
			@media (max-width: 768px){
				width: 180px;
				height: auto;
			}

			@media (max-width: 576px){
				width: 155px;
				height: auto;
			}
		}

		@media (max-width: 496px){
			display: none;
		}
	}

	&__wrapper{
		display: grid;
		grid-template-columns: 1fr auto;
		grid-gap: 30px;

		@media (max-width: 1368px){
		    grid-template-columns: 0.8fr auto;
		}

		@media (max-width: 768px){
			grid-template-columns: 1fr auto;
		}
	}

	&__image {
		position: relative;
		padding-left: 30px;
		margin-top: -30px;

		@media (max-width: 496px){
			display: none;
		}

		@media (max-width: 960px){
			padding-left: 0;
		}

		&--main{
			@media (max-width: 1200px){
				height: 440px;
				width: auto;
			}

			@media (max-width: 768px){
				height: 380px;
			}

			@media (max-width: 712px){
				height: 330px;
			}
		}

		&--peshka{
			position: absolute;
			left: -180px;
			bottom: -10px;

			@media (max-width: 1368px){
				left: -60px;
				bottom: -10px;
				height: 130px;
				width: auto;
			}

			@media (max-width: 712px){
				left: -110px;
				height: 100px;
			}

			@media (max-width: 576px){
				left: -60px;
			}
		}
	}

	&__mob{
		@media (min-width: 497px){
			display: none;
		}

		display: flex;
		gap: 16px;

		&--store{
			display: flex;
			flex-direction: column;
			gap: 12px;
			line-height: 0;

			img{
				max-width: 155px;
				height: auto;
			}
		}

		&--image{
			position: relative;
		}

		&--image--main{
			height: 260px;
			width: auto;
			margin-top: -20px;

			@media (max-width: 414px){
				height: 220px;
			}
		}

		&--image--peshka{
			height: 59px;
			width: auto;
			position: absolute;
			bottom: 0;
			left: -40px;
		}
	}
}

.video{
	margin-top: -2px;
	padding: 170px 0;
	background-image: url(../../img/grid-bottom.svg);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 53%;

	@media (max-width: 1368px){
		padding: 200px 0 60px;
	}

	@media (max-width: 1199px){
		background-size: 60%;
	}

	@media (max-width: 880px){
		background-size: 53%;
	}

	@media (max-width: 768px){
		background-size: 70%;
	}

	@media (max-width: 490px){
		background-size: 90%;
	}
	
	@media (max-width: 414px){
		background-size: 80%;
	}

	&__video{
		line-height: 0;
		max-width: 624px;

		@media (max-width: 1199px){
			max-width: 550px;
		}

		@media (max-width: 768px){
			max-width: 450px;
		}

		a{
			display: block;
		}

		svg{
			max-width: 100%;
			height: auto;
		}

		path.play{
			transition: var(--transition);
		}

		&:hover path.play{
			// transform: scale(1.05);
		}
	}
}

body.home{
	background-image: url(../../img/peshka-home.svg);
	background-repeat: no-repeat;
	background-position: -420px 20px;
}

.steps{
	background-image: url(../../img/step-chess.svg);
	background-repeat: no-repeat;
	background-position: center;

	&__slider--wrapper{
		position: relative;
		
		@media (max-width: 960px){
			padding: 0 39px;
		}

		@media (max-width: 360px){
			padding: 0 30px;
		}

		.swiper-next{
			position: absolute;
			top: 50%;
			right: 0;
			z-index: 2;
			cursor: pointer;

			svg{
				@media (max-width: 360px){
					height: 60px;
					width: auto;
				}
			}
		}

		.swiper-prev{
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 2;
			cursor: pointer;

			svg{
				@media (max-width: 360px){
					height: 60px;
					width: auto;
				}
			}
		}
	}

	&__item{
		text-align: center;

		&--title{
			display: flex;
			gap: 16px;
			margin-bottom: 40px;
			min-height: 114px;
			text-align: left;

			@media (max-width: 360px){
				min-height: auto;
			}

			span{
				font-style: italic;
				font-weight: 900;
				font-size: 96px;
				line-height: 0.8;
				letter-spacing: -0.011em;
				text-transform: capitalize;

				@media (max-width: 1200px){
					font-size: 50px;
				}

				@media (max-width: 360px){
					font-size: 40px;
				}
			}

			strong{
				padding-top: 34px;
				font-style: italic;
				font-weight: 900;
				font-size: 40px;
				line-height: 100%;
				letter-spacing: -0.011em;
				text-transform: capitalize;

				@media (max-width: 1368px){
					font-size: 34px;
				}

				@media (max-width: 1200px){
					padding-top: 15px;
				}

				@media (max-width: 360px){
					font-size: 24px;
				}
			}
		}

		&--image{
			line-height: 0;

			img{
				max-width: 100%;
				height: auto;
			}
		}
	}
}

.champion{
	background-image: url(../../img/peshka-champ.svg);
	background-repeat: no-repeat;
	background-position: 70% 70%;

	&__wrapper{
		display: grid;
		grid-template-columns: 1fr 300px;
		grid-gap: 20px;
		max-width: 940px;

		@media (max-width: 880px){
			grid-template-columns: 1fr 250px;
		}

		@media (max-width: 768px){
			grid-template-columns: 1fr 210px;
		}

		@media (max-width: 576px){
			grid-template-columns: 1fr 160px;
		}

		@media (max-width: 414px){
			grid-template-columns: 1fr 125px;
			grid-gap: 4px;
		}
	}

	&__title{
		margin-bottom: 40px;

		@media (max-width: 490px){
			margin-bottom: 16px;
		}
	}

	&__description{
		font-weight: 500;
		font-size: 24px;
		line-height: 132%;
		letter-spacing: -0.011em;

		@media (max-width: 880px){
			font-size: 18px;
		}

		@media (max-width: 414px){
			font-size: 16px;
		}
	}

	.button{
		border-radius: 50px;
		margin-top: 40px;
		width: auto;

		@media (max-width: 769px){
			margin-top: 0;
		}
	}

	&__column{
		.button{
			@media (max-width: 769px){
				display: none;
			}
		}
	}

	&__image{
		line-height: 0;
		position: relative;
		z-index: 1;

		img{
			margin-top: -100px;
			max-width: 100%;
			height: auto;

			@media (max-width: 490px){
				margin-top: -10px;
			}
		}
	}

	&__button{
		@media (min-width: 769px){
			display: none;
		}

		@media (max-width: 576px){
			margin-top: 16px !important;
		}

		@media (max-width: 490px){
			margin-top: -10px !important;
			position: relative;
			z-index: -2;
		}

		@media (max-width: 414px){
			margin-top: 15px !important;
		}
	}
}


.faq-home{
	&__wrapper{
		display: grid;
		grid-template-columns: 383px 1fr;
		grid-gap: 270px;

		@media (max-width: 1368px){
			grid-gap: 150px;
		}

		@media (max-width: 1200px){
			grid-gap: 60px;
		}

		@media (max-width: 880px){
			grid-template-columns: 1fr;
		}

		@media (max-width: 768px){
			grid-gap: 30px;
		}
		.button{
			width: auto;
			border-radius: 50px;
		}
	}

	&__column{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;

		@media (max-width: 768px){
			gap: 20px;
		}
	}

	&__title{
		line-height: 0.8;
	}

	&__description{
		font-weight: 500;
		font-size: 24px;
		line-height: 132%;
		letter-spacing: -0.011em;

		@media (max-width: 880px){
			max-width: 65%;
		}

		@media (max-width: 1024px){
			font-size: 20px;
		}

		@media (max-width: 768px){
			font-size: 18px;
		}

		@media (max-width: 414px){
			font-size: 16px;
			line-height: 17.6px;
		}
	}
}


.blog-home{
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 75px;

		@media (max-width: 1024px){
			margin-bottom: 50px;
		}

		@media (max-width: 768px){
			margin-bottom: 30px;
		}
	}

	.swiper-slide{
		display: flex;
		height: auto;
	}

	&__title{
		line-height: 0.8;
	}

	&__nav{
		display: flex;
		line-height: 0;
		gap: 40px;

		@media (max-width: 768px){
			gap: 30px;
		}

		@media (max-width: 414px){
			gap: 20px;
		}

		div{
			cursor: pointer;

			svg{
				@media (max-width: 1024px){
					width: 36px;
					height: 36px;
				}

				@media (max-width: 576px){
					width: 30px;
					height: 30px;
				}

				@media (max-width: 414px){
					width: 27px;
					height: 27px;
				}
			}
		}
	}
}

.reviews{
	&__title{
		margin-bottom: 75px;

		@media (max-width: 1024px){
			margin-bottom: 55px;
		}

		@media (max-width: 768px){
			margin-bottom: 30px;
		}
	}

	&__item{
		background-color: var(--green);
		border-radius: 16px;
		position: relative;
		padding: 40px 30px 30px 30px;

		display: grid;
		grid-template-columns: 91px 1fr;
		grid-gap: 30px;

		color: var(--black);

		> svg{
			position: absolute;
			left: -1px;
			bottom: -50px;
			z-index: -1;

			@media (max-width: 1024px){
				width: 130px;
			}
		}

		@media (max-width: 1024px){
			grid-template-columns: 70px 1fr;
		}

		@media (max-width: 576px){
			padding: 25px 20px 20px 18px;
			grid-gap: 16px;
		}

		@media (max-width: 414px){
			grid-template-columns: 51px 1fr;
		}

		@media (max-width: 360px){
			grid-template-columns: 41px 1fr;
		}

		&--icon{
			line-height: 0;

			img{
				max-width: 100%;
				height: auto;
			}
		}

		&--name{
			font-weight: 500;
			font-size: 18px;
			line-height: 1;
			letter-spacing: -0.011em;
			margin-bottom: 12px;

			@media (max-width: 768px){
				font-size: 15px;
			}

			@media (max-width: 414px){
				font-size: 12px;
				margin-bottom: 6px;
			}
		}

		&--review{
			font-weight: 500;
			font-size: 16px;
			line-height: 132%;
			letter-spacing: -0.011em;

			@media (max-width: 768px){
				font-size: 14px;
			}

			@media (max-width: 414px){
				font-size: 10px;
			}
		}

		&--rating{
			margin-top: 24px;
			line-height: 0;
			display: flex;
			gap: 8px;

			@media (max-width: 576px){
				margin-top: 14px;
			}

			@media (max-width: 414px){
				gap: 6;

				svg{
					width: 9px;
					height: 9px;
				}
			}
		}
	}

	&__slider{
		padding-bottom: 50px !important;
	}
}


.about-page{
	&__header{
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;
		gap: 40px;

		@media (max-width: 880px){
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			gap: 24px;
		}

		@media (max-width: 414px){
			gap: 16px;
		}

		h1{
			margin: 0;
			line-height: 0.8;
		}
	}

	&__description{
		max-width: 470px;

		p{
			margin: 0;
		}
	}

	&__store{
		margin-top: 40px;
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		line-height: 0;

		@media (max-width: 880px){
			gap: 12px;

			img{
				width: 155px;
				height: auto;
			}
			justify-content: center;
		}
	}



	&__steps{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 125px;

		img{
			@media (max-width: 414px){
				max-width: 100%;
				height: auto;
				min-width: 130px;
			}
		}

		@media (max-width: 1200px){
			grid-column-gap: 80px;
		}

		@media (max-width: 880px){
			grid-column-gap: 40px;
		}

		@media (max-width: 768px){
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__step{
		display: flex;
		gap: 54px;

		@media (max-width: 960px){
			gap: 25px;
		}

		@media (max-width: 360px){
			gap: 10px;
		}

		&--title{
			font-weight: 600;
			font-size: 20px;
			line-height: 1;
			letter-spacing: -0.011em;
			text-transform: uppercase;
			color: var(--green);
			margin-bottom: 20px;

			span{
				padding-right: 5px;
			}

			@media (max-width: 576px){
				font-size: 18px;
				font-weight: 500;
			}
		}
		
		&--description{
			font-weight: 600;
			font-size: 18px;
			line-height: 120%;
			letter-spacing: -0.011em;
			max-width: 232px;

			@media (max-width: 768px){
				max-width: 100%;
			}

			@media (max-width: 576px){
				line-height: 110%;
				font-size: 16px;
				font-weight: 500;
			}
		}

		&--image{
			line-height: 0;
		}

		&--2,
		&--4{
			padding-top: 230px;

			@media (max-width: 768px){
				padding-top: 0;
			}
		}
	}

	&__step--2{
		@media (max-width: 768px){
			flex-direction: row-reverse;
		}
	}

	&__step--3{
		flex-direction: row-reverse;

		@media (max-width: 768px){
			flex-direction: row;
		}
	}

	&__step--4{
		@media (max-width: 768px){
			flex-direction: row-reverse;

			.about-page__step--column{
				max-width: 60%;
			}
		}
	}

	&__lists{
		display: grid;
		grid-template-columns: auto auto;
		grid-row-gap: 430px;
		justify-content: space-between;
		margin-bottom: 150px;

		background-image: url(../../img/peshka-about.svg);
		background-repeat: no-repeat;
		background-position: center;

		@media (max-width: 1368px){
			margin-bottom: 190px;
		}

		@media (max-width: 960px){
			grid-row-gap: 250px;
			grid-column-gap: 25px;
		}

		@media (max-width: 690px){
			grid-template-columns: 1fr;
		}

		@media (max-width: 360px){
			grid-row-gap: 25px;
			grid-column-gap: 25px;
			margin-bottom: 0;
		}
	}

	&__list{
		border-radius: 8px;
		padding: 20px;
		background-color: var(--green);
		position: relative;
		max-width: 340px;

		@media (max-width: 960px){
			max-width: 100%;
		}

		img{
			max-width: 100%;
			height: auto;
		}

		&--title{
			font-weight: 600;
			font-size: 36px;
			line-height: 1;
			letter-spacing: -0.011em;
			text-transform: uppercase;
			color: var(--pink);
			margin-bottom: 20px;

			@media (max-width: 768px){
				font-weight: 500;
			}

			@media (max-width: 360px){
				font-size: 28px;
			}
		}

		&--description{
			font-weight: 600;
			font-size: 18px;
			line-height: 120%;
			letter-spacing: -0.011em;
			color: var(--black);

			@media (max-width: 768px){
				font-weight: 500;
			}
		}


		&.list1{
			.about-page__list--image1{
				line-height: 0;
				position: absolute;
				top: 90%;

				@media (max-width: 960px){
					width: 80%;
					text-align: center;
					margin: auto;
					left: 0;
					right: 0;
				}
			}

			.about-page__list--image2{
				display: none;
			}
		}

		&.list2{
			.about-page__list--image1{
				line-height: 0;
				position: absolute;
				top: 42%;
				left: -110px;
				z-index: -1;

				@media (max-width: 960px){
				    max-width: 210px;
					position: absolute;
					top: 24%;
					left: 20px;
				}
			}

			.about-page__list--image2{
				line-height: 0;
				position: absolute;
				top: 42%;
				right: -146px;

				@media (max-width: 1368px){
					top: 57%;
					right: -100px;
				}

				@media (max-width: 960px){
				    max-width: 240px;
					z-index: -2;
					top: 30%;
					right: -20px;
					transform: rotate(-15deg);
				}
			}
		}

		&.list3{
			.about-page__list--image1{
				line-height: 0;
				position: absolute;
				top: 120%;
				left: 25px;

				@media (max-width: 960px){
					top: 115%;
					left: 25px;
					max-width: 122px;
				}
			}

			.about-page__list--image2{
				line-height: 0;
				position: absolute;
				top: 42%;
				right: -146px;

				@media (max-width: 960px){
				    top: 74%;
					right: -46px;
					max-width: 180px;
				}

				@media (max-width: 690px){
					top: 44%;
					right: -6px;
				}
			}
		}

		&.list4{
			.about-page__list--image1{
				line-height: 0;
				position: absolute;
				top: 120%;
				left: 25px;
			}

			.about-page__list--image2{
				line-height: 0;
				position: absolute;
				top: 42%;
				right: -95px;

				@media (max-width: 960px){
					top: 70%;
					right: -20px;
					transform: rotate(15deg);
					max-width: 130px;
				}	

				@media (max-width: 960px){
					top: 40%;
					right: 20px;
				}
			}
		}
	}

	&__list--image1,
	&__list--image2{
		@media (max-width: 360px){
			display: none;
		}
	}
}

.position{
	position: relative;
}

.page-template-page-about {
	.position{
		overflow: hidden;
	}
}


.green-left{
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color:var(--green);

	@media (max-width: 1368px){
		display: none;
	}
}

.green-right{
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color:var(--green);

	@media (max-width: 1368px){
		display: none;
	}
}

.black-left{
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0;
	bottom: 0;
	background-color:var(--black);

	@media (max-width: 1368px){
		display: none;
	}
}

.black-right{
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0;
	bottom: 0;
	background-color:var(--black);

	@media (max-width: 1368px){
		display: none;
	}
}

.hamburger{
	display: inline-flex;
	line-height: 0;
	cursor: pointer;

	svg{
		pointer-events: none;
	}

	@media (min-width: 769px){
		display: none;
	}
}

.mob-nav{
	position: fixed;
	top: 0;
	left: -100%;
	right: 0;
	bottom: 0;
	z-index: 999;
	background-color: #19181A;
	visibility: hidden;
	opacity: 0;
	transition: var(--transition);

	&.open{
		left: 0;
		visibility: visible;
		opacity: 1;
	}

	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		padding: 16px 20px;
	}

	&__menu{
		margin-top: 90px;

		@media (max-width: 576px){
			margin-top: 0;
		}

		.menu{
			@media (max-width: 360px){
				margin-top: 14px;
			}
		}

		ul{
			margin: 0;
			padding: 0;
			list-style: none;

			li{
				text-align: center;

				&:not(:last-child){
					margin-bottom: 24px;

					@media (max-width: 360px){
						margin-bottom: 14px;
					}
				}
			}

			a{
				color: var(--white);
				text-decoration: none;
				font-weight: 500;
				font-size: 18px;
				line-height: 1;
				letter-spacing: -0.011em;
				text-transform: capitalize;

				&:hover{
					color: var(--green);
				}
			}
		}
	}

	&__link{
		margin-top: 60px;
		display: flex;
		align-items: center;
		gap: 34px;
		justify-content: center;
		line-height: 0;

		@media (max-width: 576px){
			margin-top: 24px;
			gap: 14px;

			svg{
				width: 36px;
				height: auto;
			}
		}

		@media (max-width: 360px){
			margin-top: 14px;
		}
	}

	&__store{
		margin-top: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;

		@media (max-width: 576px){
			margin-top: 24px;
			flex-direction: row;
			justify-content: center;

			img{
				width: 120px;
				height: auto;
			}
		}

		@media (max-width: 360px){
			margin-top: 14px;
		}
	}

	.menu{
		margin: 24px 0 0 0;
		padding: 0;
		list-style: none;
		text-align: center;

		@media (max-width: 360px){
			margin-top: 14px;
		}

		li{
		}

		a{
			color: var(--white);
			text-decoration: none;
			font-weight: 500;
			font-size: 18px;
			line-height: 1;
			letter-spacing: -0.011em;
			text-transform: capitalize;

			&:hover{
				color: var(--green);
			}
		}
	}

	&__close{
		svg{
			pointer-events: none;
		}
	}
}

.page-template-page-faq,
.page-template-page-contact {
	.faq__wrapper{
		padding-top: 0;
	}
}

body{
	.swiper{
		&-pagination{
			position: relative;
			margin-top: 30px;
			bottom: 0 !important;
			display: flex;
			gap: 8px;
			justify-content: center;

			@media (max-width: 768px){
				margin-top: 20px;
			}

			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				background: #D3D2D4;
				opacity: 1;

				&.swiper-pagination-bullet-active{
					background-color: var(--pink);
				}
			}
		}
	}
}

.single,
.page-template-page-subscriptions{
	h1{
		@media (max-width: 414px){
			text-transform: none;
		}

		@media (max-width: 660px){
			text-transform: none;
		}

		@media (max-width: 360px){
			font-size: 40px;
		}
	}
}

.page-template-page-subscriptions h1{
	@media (max-width: 375px){
		font-size: 40px;
	}
}

.menu__language {

	&--mobile{
		margin: 24px 0 0 0;
		padding: 0;
		list-style: none;

		>li>a {
			display: none
		}
		
		a{
			font-weight: 500;
			font-size: 18px;
			line-height: 1;
			color: rgba(154, 255, 0, 0.5);
			text-decoration: none;
			text-transform: uppercase;

			&:hover{
				color: var(--green) !important;
			}
		}

		.current-lang a{
			color: var(--green) !important;
		}

		.sub-menu{
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			gap: 24px;
		}
		
	}

	margin: 0;
	padding: 0;
	list-style: none;
	padding: 1px 5px;
	border-radius: 8px;
	&:hover {
		a {
			&:after {
				-webkit-transform: rotate(-180deg);
				transform: rotate(-180deg);
			}
		}
		.sub-menu {
			opacity: 1;
			visibility: visible;
			transform: translateY(0px);
			z-index: 3;
		}
	}

	& > li {
		position: relative;
		
		& > a {
			width: 100%;
			font-size: 18px;
			line-height: 27px;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
			color: var(--green);
			display: flex;
			align-items: center;
			gap: 8px;
			&:after {
				content: "";
				height: 8px;
				width: 12px;
				transition: all .3s ease 0s;
				display: flex;
				justify-content: center;
				align-items: center;
				background: url(../../img/arrow.svg) center / 100% 100% no-repeat;
			}
		}
		.sub-menu {
			position: absolute;
			min-width: 100%;
			left: 0;
			border-radius: 0px;
			background: #19181A;
			top: calc(100% + 6.5px);
			padding: 4px 0;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-10px);
			transition: all 0.35s;
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
	.sub-menu {
		flex-direction: column;
		gap: 10px;
		a {
			text-align: left;
			cursor: pointer;
			color: rgba(154, 255, 0, 0.5);
			display: block;
			padding: 4px;
			font-size: 18px;
			line-height: 1;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}
.menu__language--mobile .sub-menu .current-lang a,
.menu__language .sub-menu .current-lang a,
.menu__language .sub-menu a:hover {
	color: var(--pink);
	opacity: 1;
}
